<div>
  <mat-grid-list cols="1" rowHeight="9:1">
    <mat-grid-tile>
      <img mat-card-avatar style="height: 100px; width: 100px;" src="../../../assets/location.png">
    </mat-grid-tile>
  </mat-grid-list>
 <br>
 <mat-card-title style="font-weight: bolder; text-align: center;">The Place Details</mat-card-title>
 <br>
 <br>
</div>
<form>
 <mat-form-field class="login-full-width" style="padding-right: 60px; margin-left: 100px">
   <mat-label>Name Of Location</mat-label>
   <input matInput disabled value="{{placeDetails.name}}">
 </mat-form-field>
 <mat-form-field class="login-full-width" style="padding-right: 60px;  margin-left: 100px">
   <mat-label>Sector</mat-label>
   <input matInput disabled value="{{placeDetails.sector}}">
 </mat-form-field>
 <mat-form-field class="login-full-width"  style="padding-right: 60px;  margin-left: 100px">
   <mat-label>E-Mail</mat-label>
   <input matInput disabled value="{{placeDetails.email}}">
 </mat-form-field>
 <br>
 <br>
 <mat-form-field class="login-full-width" style=" margin-left: 100px">
   <mat-label>Phone Number</mat-label>
   <input matInput disabled value="{{placeDetails.phone}}">
 </mat-form-field>
 <br>
 <br>
 <mat-form-field class="login-full-width" style=" margin-left: 100px">
   <mat-label>Street Address</mat-label>
   <input matInput disabled value="{{placeDetails.address}}">
 </mat-form-field>
 <br>
 <br>
 <mat-form-field class="login-full-width" style=" margin-left: 100px">
   <mat-label>City</mat-label>
   <input matInput disabled value="{{placeDetails.city}}">
 </mat-form-field>
 <br>
 <div class="button">
   <mat-grid-list cols="1" rowHeight="9:1">
     <mat-grid-tile>
       <button mat-stroked-button style="width: 40%; color: lightcoral;" (click)="close()" >close</button>
     </mat-grid-tile>
   </mat-grid-list>
 </div>
</form>

