<!-- <mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Kavishka Wijesekera</h2>
            <h4>kavishkawijesekera@email.com</h4>
        </div>
        <img src="../../../../assets/me.jpeg" alt="">
    </div>

    <mat-divider></mat-divider>

    

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">My Details</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Bla Bla</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contacts</mat-icon>
        Contact Details
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>phone</mat-icon>
        Emergency
    </a>

</mat-nav-list> -->