.profile-card {
  width: 700px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 80px;
  width: 80px;
  justify-content: center;
  display: flex;
}
