<h1>header here</h1>
<mat-grid-list cols="1" rowHeight="740px">
  <mat-grid-tile>
    <mat-card class="profile-card" >
      <mat-card-header>
        <img mat-card-image src="../../assets/profile.jpg" style=" display: block; margin-left: auto; margin-right: auto; width: 30%;">
      </mat-card-header>
      <mat-card-content>
        <h2 style="text-align:center;"><strong>My Profile Details</strong></h2>
        <mat-label style="padding-right: 80px;">
          First Name:
        </mat-label>
        <mat-label style="padding-right: 80px;">
          Middle Name:
        </mat-label>
        <mat-label style="padding-right: 80px;">
          Last Name:
        </mat-label>
        <br>
        <br>
        <mat-label>
          Date Of Birth
        </mat-label>
        <br>
        <br>
        <mat-label>
          Mobile Number:
        </mat-label>
        <br>
        <br>
        <mat-label>
          E-mail:
        </mat-label>
        <br>
        <br>
        <mat-label>
          Health:
        </mat-label>
        <br>
        <br>
        <mat-label>
          Type:
        </mat-label>
        <br>
        <br>
        <mat-label>
         Profession:
        </mat-label>
        <br>
        <br>
        <mat-label>
          Department:
        </mat-label>
        <br>
        <br>
        <mat-label>
          Address:
        </mat-label >
        <br>
        <br>
        <mat-label>
          City:
        </mat-label>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button style="width: 100%; color: lightblue;">Edit Profile</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

